body {
	background-image: url("../images/parthenon.jpg");
	background-size: 100%;
	background-repeat: repeat-y;

}

h1 {
	text-align: center;
	font-size: 60px;
	font-family: 'Papyrus', serif;
	margin-bottom: 70px ;
	color: #ffffff;
}

p {
	text-align: center;
	font-size: 35px;
	font-family: 'Papyrus', serif;
	color: red;
	font-weight: bold;
	background-color: blue;
}